@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome College Site
    </h1>
    <p>
        MyCollege Educational institution managed and controlled by more than 4 year College Society consisting of the Lucknow, College Society also governs my college which was founded in 1902 by coder baba, a missionary who was its first Principal.My College is an Autonomous College since 1994 associated with University offering Bachelor's Degree Courses in Arts and Science discipline. The College also offers several diploma programmes like Post Graduate Diploma in Computer Applications, Post Graduate Diploma in Business Management, Diploma in Secretarial Practices, etc.
    </p>
</div>
